<mat-card class="container">
    <form [formGroup]="form" novalidate (ngSubmit)="create()">
        <mat-card-header>
            <mat-card-title>Equipes</mat-card-title>
            <mat-card-subtitle>Criar ou alterar equipes</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="content">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Sigla</mat-label>
                <input matInput type="text" formControlName="init">
            </mat-form-field>

            <button mat-raised-button (click)="logoFile.click()" type="button">
                Upload Logo
                <input hidden #logoFile type="file" (change)="logo = $event.target.files[0]">
            </button>
        </mat-card-content>

        <mat-card-actions class="row" align="end">
            <button mat-flat-button color="warn" (click)="delete()" type="button">Deletar</button>
            <span class="flex-filling"></span>
            <button mat-flat-button color="accent" type="submit">Atualizar Equipe</button>
        </mat-card-actions>
    </form>
</mat-card>

