@import "theme";


.mat-toolbar.mat-primary {
    background: mat-color($primary, lighter);
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar {
    height: auto;

    nav {
        display: flex;
        justify-content: flex-start;
    }
}

.navbar-header {
    padding: 8px 16px;
}
