<mat-toolbar color="primary" class="mat-elevation-z6">
    <nav class="flex-filling navbar-header">
        <a mat-button *ngIf="!(obs.isHandset$ | async)" routerLink="/">
            My Application
        </a>

        <ng-container *ngFor="let route of routes">
            <a mat-button [routerLink]="route.route"
                *ngIf="route.when === undefined || (route.when | async)">
                    {{ route.title }}
            </a>
        </ng-container>
        <span class="flex-filling"></span>
        <app-login></app-login>
    </nav>
</mat-toolbar>
