<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Usuários
            </mat-panel-title>
            <mat-panel-description>
                Criar ou alterar usuários
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-admin-users></app-admin-users>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Equipes
            </mat-panel-title>
            <mat-panel-description>
                Criar ou alterar equipes
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-admin-teams></app-admin-teams>
    </mat-expansion-panel>

</mat-accordion>
