<form [formGroup]="form" novalidate class="content" (ngSubmit)="submit()">

    <mat-form-field hideRequiredMarker>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="form.get('name')!.invalid">Precisa de um valor</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
        <mat-label>R.G.</mat-label>
        <input matInput type="text" formControlName="rg" required>
        <mat-error *ngIf="form.get('rg')!.invalid">Precisa de um valor</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
        <mat-label>Órgão Emissor</mat-label>
        <input matInput type="text" formControlName="rgOrgao" required>
        <mat-error *ngIf="form.get('rgOrgao')!.invalid">Precisa de um valor</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="sex" required>
            <mat-option value="fem">Feminino</mat-option>
            <mat-option value="masc">Masculino</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('sex')!.invalid">Precisa de um valor</mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="form.invalid"
            color="primary" type="submit">
        Registrar Atleta
    </button>
</form>
