.full-width {
    width: 100%;
    flex: 1;
    margin-right: 20px;
}

.full-width:last-child {
    margin-right: 0;
}

.admin-form {
    display: flex;
    flex-direction: column;
}

.admin-control {
    min-width: 120px;
    margin: 20px auto;
}

.password-control {
    display: flex;
    flex-direction: row;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}
