<form [formGroup]="form"
    novalidate class="admin-form"
    (ngSubmit)="this.submit()">

    <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" [matAutocomplete]="autoEmails">

        <mat-autocomplete #autoEmails="matAutocomplete">
            <mat-option *ngFor="let email of this.filteredEmails$ | async" [value]="email">
                {{ email }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="text" formControlName="password">
    </mat-form-field>

    <div class="full-width password-control">
        <mat-slide-toggle
            [checked]="form.get('password')!.enabled"
            (change)="this.togglePasswd()">
                Mudar Senha
        </mat-slide-toggle>
        <span class="flex-filling"></span>

        <button mat-raised-button (click)="genPasswd()" type="button">Gerar Senha</button>
    </div>

    <mat-form-field class="full-width">
        <mat-label>Permissão</mat-label>
        <mat-select formControlName="role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="dm">DM</mat-option>
            <mat-option value="arb">Arbitro</mat-option>
            <mat-option value="none">-</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Equipe</mat-label>
        <input matInput type="text" formControlName="team">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Atualizar Usuário</button>
</form>
