<ng-template #loginForm let-submit="submit" let-btnText="btn" let-form="form">
    <form [formGroup]="form" (ngSubmit)="submit(form)" class="login-form-input">

        <span class="flex-top-filling"></span>
        <ng-container mat-dialog-content>
            <mat-form-field class="flex-filling" hideRequiredMarker>
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email" cdkFocusInitial required>
                <mat-error *ngIf="form.controls.email.invalid">{{this.getValidationError(form.controls.email)}}</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-filling" hideRequiredMarker>
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-error *ngIf="form.controls.password.invalid">{{this.getValidationError(form.controls.password)}}</mat-error>
            </mat-form-field>
        </ng-container>

        <span class="flex-filling"></span>

        <ng-container mat-dialog-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="form.invalid">
                    {{ btnText }}
            </button>
        </ng-container>
    </form>
</ng-template>


<mat-tab-group mat-stretch-tabs class="login-tabs">
    <mat-tab label="Login">
        <ng-container
            *ngTemplateOutlet="loginForm;context:ctx.login">
        </ng-container>
    </mat-tab>

    <mat-tab label="Registrar">
        <ng-container
            *ngTemplateOutlet="loginForm;context:ctx.signUp">
        </ng-container>
    </mat-tab>
</mat-tab-group>
