@import "theme";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Include all theme styles for the components.
@include angular-material-theme($theme);


.flex-filling {
    flex: 1 1 auto
}

.login-tabs {
    .mat-tab-body-wrapper {
        height: 100%;
    }
}
